<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
  <param-name>driver</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
 </context-param>
 <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:oracle:thin:@192.168.0.102:1521:orcl</param-value>
 </context-param>

 
 <context-param>
  <param-name>adminuser</param-name>
  <param-value>MACHINEDATA</param-value>
 </context-param>
 
 <context-param>
  <param-name>adminpwd</param-name>
  <param-value>machinedata</param-value>
 </context-param>
 

 <context-param>
  <param-name>fileDir</param-name>
  <param-value>C:\\Tomcat7\\webapps\\exeWeb\\outputsheet\\</param-value>
 </context-param>

 
</web-app>
